.navbar {
  .logo {
    max-height: 35px;
    border-radius: 5px;
  }
}

main {
  padding-top: 56px;

  .jumbotron {
    .cta-list {
      .btn {
        margin-right: 2px;
        margin-left: 2px;
      }
    }
  }
}
